.nav {
  display: block;
}

.navbar-hijau {
  display: flex;
  padding: 10px 40px 10px 40px;
  background-color: aquamarine;
}

.navbar-biru {
  display: flex;
  padding: 10px 40px 10px 40px;
  background-color: aquamarine;
}

.navbar h3 {
  margin: auto 10px auto 10px;
}

.navbar img {
  border-radius: 25px;
}

.language {
  display: inline-flex;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
select {
  float: right;
  margin-left: auto;
}

.side-container {
  height: 100vh;
  width: 200px;
  background-color: aqua;
}

.sidebar {
  height: 100vh;
  width: 200px;
  background-color: aquamarine;
  margin-top: 0px;
  list-style-type: none;
}

.sidebar li {
  margin-top: 20px;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

.bar {
    font-weight: 900;
    list-style-type: none;
}

.pages {
  display: flex;
}

.page-container {
  display: flex;
  
}


.user-contain {
  margin: auto;
}


.users-form label {
  font-size: large;
  font-weight: 500;
  display: block;
}

.form1 {
  display: block;
}


.users-form {
  margin-bottom: 20px;
}
.users-form input {
  width: 400px;
  height: 40px
}



.formm {
  display: flex;
}

.form-field {
  display: block;
  margin: 10px;
}

.btn-form {
  margin-left: auto;
  background-color: blue;
  color: white;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
}

.user-table {
  margin: auto;
}

.users th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: #04AA6D;
  
}

.users td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.photo {

}

.photo-card {
  padding: 5px;
  margin: 5px;
  border: black;
  border-style: solid;
  height: 400px;
  width: 200px;
  display: grid;
}
.photo-card h2 {
  text-align: center;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}


select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

